useDynLib(mcemGLM)
importFrom(Rcpp, evalCpp)
S3method(summary, mcemGLMM)
S3method(anova, mcemGLMM)
S3method(predict, mcemGLMM)
S3method(residuals, mcemGLMM)
importFrom(stats, rnorm)
import(trust)
export(mcemGLMM, mcemGLMMext, summary.mcemGLMM, anova.mcemGLMM, contrasts.mcemGLMM, residuals.mcemGLMM, predict.mcemGLMM)

